.main{
      width: 100%;
       display: flex;
       align-items: center;
}
.heading{
      font-family: "Clash Display";
}
.heading h1{
      /* color: orange; */
      font-size: 25px;
}
.leftside{
      width: 40%;
      margin-left: 10%;
      /* border: 2px solid red; */
}
.leftside img{
      width: 80%;
}
.iconblock{
      display: flex;
      justify-content: flex-start;
      align-items: center;
}
.icons{
      width: 18px;
      height: 18px;
      border-radius: 25px;
      background-color: rgb(255, 85, 85);
      margin:  0 5px;
}
.rightside{
      width: 45%;
      /* border: 2px solid black; */
      padding: 20px;
}
.maincontent{
      width: 90%;
      /* border: 2px solid yellow; */
      margin: 20px 0;
}
.maincontent h5{
      font-family: "Clash Display";
      font-weight: 400;
      font-size: 25px;
      margin: 5px 10px;
}
.maincontent p{
      width: 70%;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: gray;
      font-size: 15px;
}
@media only screen and (max-width: 468px) {
      .main{
            display: flex;
            flex-direction: column;
            justify-content: center;
      }
      .leftside{
            width: 100%;
      }
      .rightside{
            width: 80%;
            margin-left: 5%;
            text-align: center;
            /* border: 2px solid red; */
      }
      .heading p{
            font-size: 20px;
      }
      .maincontent{
            width: 100%;
      }
      .maincontent h1{
            width: 100%;
            text-align: justify;

      }
      .maincontent p{
            width: 100%;
            font-size: 12px;
            text-align: justify;
      }
}