@font-face {
  font-family: 'Clash Display';
  src: url('../font/OTF/ClashDisplay-Bold.otf') format('truetype'),
  url('../font/OTF/ClashDisplay-Medium.otf') format('truetype') ,
  url('../font/OTF/ClashDisplay-Light.otf') format('truetype') ,
  url('../font/OTF/ClashDisplay-Regular.otf') format('truetype');
  /* Add additional font weights and styles if available */
}
*{
  margin: 0;
}